*{
    margin : 0;
    padding : 0;
    font-style: normal;
    font-family: sans-serif;
}
.main{
    float : right ;
        
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/b4.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
    
}
header ul {
    margin: 25px 25px;
}
header li a{
    text-decoration: none;
    font-size: 25px;
    color : floralwhite;
    margin : 10px 25 px;
    padding : 5px 15px ; 
    border : 1px solid white;
    border-radius:5px;
    transition : 0.2s;
    
}
header li {    
    display:inline-block;
}
header li a:hover{
    background-color: white;
    color : black;
    font-size: 27px;
    border-radius:5px;
}
#active a{
    text-decoration: none;
    margin : 10px 25 px;
    padding : 5px 15px ; 
    border : 1px solid white;
    transition : 0.2s;
    background-color: white;
    color : black;
    font-size: 27px;
    border-radius:5px;
    
}
h1{
    margin : 10px 25 px;
    padding : 25px 125px ; 
    border : 1px solid white;
    font-size: 70px;
    
    color: white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.subhead a{
    text-decoration: none;
    margin : 10px 25 px;
    padding : 5px 15px ; 
    border : 1px solid white;
    color:white;
    width:20px;
    font-size: 20px;
    transition: 0.25s;
}
.subhead{
    position:absolute;
    top:65%;
    left:50%;
    transform: translate(-50%,-50%);
}
    
.subhead a:hover{
    background-color: white;
    color : black;
    font-size: 21px;
    
}